<%= render 'shared/page_title', title: "Usuario #{@user.name}"  %>
<div class="row">
  <h1>Nombre: </h1>
  <%= @user.name %></div>
<h1>Email: </h1>
<%= @user.email %>
<h1>Tipo usuario</h1>
<%= @user.tipo %>
