<%= render 'shared/page_title', title: "Persona perdida #{@miss.name}"  %>
<div class="row">
  <h1>Nombre: </h1>
  <%= @miss.name %></div>
<h1>Apellidos: </h1>
<%= @miss.lastname %>
<h1>Edad</h1>
<%= @miss.age %>
