<!-- Footer -->
<footer class="row bg-red align-center py-2 mt-5">
    <div class="col-12 text-center">
    <p class="text-white">Desarrollado por <strong>Wycorp</strong></p>
    </div>
</footer>
<!-- Footer -->
